version: '3'

volumes:
  pgadmin4-data:
      
services:
  pgadmin4:
    container_name: pgadmin4
    image: dpage/pgadmin4:snapshot
    restart: always
    volumes:
      - pgadmin4-data:/var/lib/pgadmin/
    environment:
       PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
       PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    external_links:
       - drupal-db:drupal-db
       - ckan-db:ckan-db
    ports:
      - 5050:443

networks:
  default:
    external:
      name: ${NETWORK:-webproxy}
