version: '2'

services:
  db:
    container_name: postgis-10.3-2.4-alpine
    image: cismet/postgis:10.3-2.4-alpine
    restart: always
    network_mode: bridge
    environment:
      PGUSER: postgres
      POSTGRES_PASSWORD: xxx
      LANG: de_DE.UTF-8
      LANGUAGE: de_DE:de
      LC_ALL: de_DE.UTF-8   
      TZ: Europe/Berlin
    volumes:
      - ./postgresql_data:/var/lib/postgresql/data
      - ./tmp:/tmp
      - ./files/bash_history:/root/.bash_history
    ports:
      - 5433:5432
  pgadmin4:
    container_name: pgadmin4-for-postgis-10.3-2.4-alpine
    image: dpage/pgadmin4:snapshot
    network_mode: bridge
    restart: always
    volumes:
      - ./pgadmin4_data:/var/lib/pgadmin/
    environment:
       - PGADMIN_DEFAULT_EMAIL=pascal.dihe@cismet.de
       - PGADMIN_DEFAULT_PASSWORD=wouX0EMo8B4a
    links:
       - db:db
    ports:
      - 5050:5050

