version: '3'
     
services:
  pgadmin4:
    container_name: ${COMPOSE_PROJECT_NAME}
    image: dpage/pgadmin4:snapshot
    restart: always
    volumes:
      - data:/var/lib/pgadmin/
    environment:
       PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
       PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    # container name   
    external_links:
       - csis-postgis:csis-postgis
       - ckan-postgis:ckan-postgis
       - geonode-postgis:geonode-postgis
    ports:
      - 5050:443
      
volumes:
    data:
        name: ${COMPOSE_PROJECT_NAME}_data

networks:
  default:
    external:
      name: ${NETWORK:-clarity}
